*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgb(55, 55, 55);
}
.wrapper{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 50px;
}
.header{
    width: 100%;
    height: 100px;
    background-color: #fff;
    padding-top: 30px;
    padding-left: 30px;
    grid-column: 1/3;
}
.header img{
    height: 40px;
}
.header .menu{
    font-size: .8em;
    color: rgb(197, 197, 197);
    font-weight: 100;
    float: right;
    padding: 15px;
    margin: 0 10px;
    text-decoration: none;
    color: rgb(55, 55, 55);
}
.header .menu:hover{
    background-color: #fadb4b;
    border-radius: 20px;
    color:#1054a1;
}




/* Main image */
.mainImage{
    height: 600px;
    width: 100%;
    background-color: #1054a1;
    display: block;
    padding-top: 200px;
    grid-column: 1/3;
    position: relative;
}
.mainImage img{
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    animation: fadeIn 0.7s linear forwards;
}
@keyframes fadeIn {
    0% {
      opacity: 5%;
    }
    100% {
      opacity: 100%;
    }
  }
@keyframes fadeOut {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 5%;
    }
  }
.mainImage:hover> img{
    animation: fadeOut 0.5s linear forwards;
}
.mainImage .ask{
    position: absolute;
    top: 40%;
    left: 30%;
}
.mainImage label{
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 20px;
    color: #fff;
}
.mainImage input[type="text"]{
    margin-right:10px;
    padding:15px;
    width: 500px; 
    height: 50px; 
    line-height : normal;
    font-family: inherit;
    font-size: 1.2em;
    margin-top:20px;
    border-radius: 10px;
    float: left;
}
.mainImage input::placeholder{
    font-size: .8em;
    padding-left: 3px;
    opacity: .5;
}
.mainImage input[type="submit"]{
    
    margin:0;
    padding: 0;
    height: 50px; 
    width: 70px;
    line-height : normal;
    font-family: inherit;
    font-size: .8em;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #fadb4b;
    cursor: pointer;
}
.mainImage .d-none{
    display: none;
}




/* About */
.about{
    width: 900px;
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    grid-column: 1/3;
}
.about h2{
    font-size: 1.8rem;
    line-height: 1.3334;
    color:#1054a1;
    margin-bottom: 20px;
}






/* Vision */
.vision{
    width: 600px;
    margin-left: 100px; 
    margin-top: 220px;
    grid: 1/3;
}
.vision_img{
    margin-top:200px;
    width: 500px;
    height:200px;
    background-color: yellow;
    grid:3/3;
}






/* Products */
.products{
    margin-top: 100px;
    display: grid;
    justify-content: center;
    align-content: center;
    margin-bottom: 100px;
}
.products .grid-container {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    grid-gap: 30px;
    width:510px;
    height:510px;
}
.products .grid-item {
    border-radius: 10px;
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    transition: box-shadow 0.5s ease-out;
    position: relative;
}
.products .grid-item:hover {
    background-color: #f0dd86;
    /* opacity: 70%; */
    box-shadow: 10px 10px 16px -8px rgba(0,0,0,0.42);
}
/* .products .grid-item:hover> a{
    opacity: 30%;
} */
.products .room_name{
    position: absolute;
    top:30%;
    left: 20%;
}
.products img{
    width:150px;
    height: 150px;
    padding: 20px;
}
.product_image{
    margin-top: 100px;
    width:510px;
    height:510px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.room_img{
    width:510px;
    height:510px;
}






/* Footer */
.footer{
    width:100%;
    height:70px;
    background-color: black;
    grid-column: 1/3;
    font-size: .8em;
    color: rgb(197, 197, 197);
    font-weight: 100;
}
.footer span{
    margin: 20px 40px;
    display: block;
    width: 400px;
    float: left;
}
.footer a{
    float: right;
    margin: 20px 30px 20px 0px;
    text-decoration: none;
}
.footer a:visited{
    color: #fff;
}